osx_image: xcode8
language: objective-c
xcode_workspace: FirebaseUI.xcworkspace
xcode_scheme: FirebaseUI

rvm: 2.3.1
before_install:
  - gem uninstall cocoapods -a
  - gem install cocoapods -v '1.0.1'
  - gem install xcpretty
  - pod install --repo-update

script: set -o pipefail && xcodebuild -workspace FirebaseUI.xcworkspace
  -scheme FirebaseUI
  -sdk iphonesimulator
  -destination 'platform=iOS Simulator,name=iPhone 7'
  build
  test
  ONLY_ACTIVE_ARCH=YES
  CODE_SIGNING_REQUIRED=NO
  | xcpretty
