name: Database

on:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/database.yml'
      - 'FirebaseDatabaseUI/**'
      - 'test.sh'
      - 'FirebaseDatabaseUI.podspec'
      - 'Package.swift'
  pull_request:
    branches: [ master ]
    paths:
      - '.github/workflows/database.yml'
      - 'FirebaseDatabaseUI/**'
      - 'test.sh'
      - 'FirebaseDatabaseUI.podspec'
      - 'Package.swift'

  workflow_dispatch:

jobs:
  xcodebuild:
    name: xcodebuild
    runs-on: macOS-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup
        run: |
          cd FirebaseDatabaseUI
          gem install bundler
          bundle install
          gem install xcpretty
          bundle exec pod install --repo-update
      - name: Build
        run: |
          ./test.sh FirebaseDatabaseUI
  spm:
    name: spm
    runs-on: macOS-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: List
        run: |
          xcodebuild -list
      - name: Build
        run: |
          xcodebuild -scheme FirebaseDatabaseUI -sdk iphonesimulator
