name: Email Auth

on:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/emailauth.yml'
      - 'FirebaseEmailAuthUI/**'
      - 'test.sh'
      - 'FirebaseEmailAuthUI.podspec'
      - 'Package.swift'
  pull_request:
    branches: [ master ]
    paths:
      - '.github/workflows/emailauth.yml'
      - 'FirebaseEmailAuthUI/**'
      - 'test.sh'
      - 'FirebaseEmailAuthUI.podspec'
      - 'Package.swift'

  workflow_dispatch:

jobs:
  xcodebuild:
    name: xcodebuild
    runs-on: macOS-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup
        run: |
          cd FirebaseEmailAuthUI
          gem install bundler
          bundle install
          gem install xcpretty
          bundle exec pod install --repo-update
      - name: Build
        run: |
          ./test.sh FirebaseEmailAuthUI
  spm:
    name: spm
    runs-on: macOS-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: List
        run: |
          xcodebuild -list
      - name: Build
        run: |
          xcodebuild -scheme FirebaseEmailAuthUI -sdk iphonesimulator
  pod:
    name: pod lib lint
    runs-on: macOS-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Build
        run: |
          bundle exec pod lib lint FirebaseEmailAuthUI.podspec \
            --include-podspecs=FirebaseAuthUI.podspec
