name: Email Auth

on:
  push:
    branches: [ main ]
    paths:
      - 'FirebaseAuthUI/**'
      - 'FirebaseAuthUI.podspec'
      - '.github/workflows/emailauth.yml'
      - 'FirebaseEmailAuthUI/**'
      - 'test.sh'
      - 'FirebaseEmailAuthUI.podspec'
      - 'Package.swift'
  pull_request:
    branches: [ main ]
    paths:
      - 'FirebaseAuthUI/**'
      - 'FirebaseAuthUI.podspec'
      - '.github/workflows/emailauth.yml'
      - 'FirebaseEmailAuthUI/**'
      - 'test.sh'
      - 'FirebaseEmailAuthUI.podspec'
      - 'Package.swift'

  workflow_dispatch:

jobs:
  xcodebuild:
    name: xcodebuild
    runs-on: macOS-latest

    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Select Xcode version
        run: |
          sudo xcode-select -switch /Applications/Xcode_16.1.app/Contents/Developer
      - name: Setup
        run: |
          cd FirebaseEmailAuthUI
          gem install bundler
          bundle install
          gem install xcpretty
          bundle exec pod install --repo-update
      - name: Build
        run: |
          ./test.sh FirebaseEmailAuthUI
  spm:
    name: spm
    runs-on: macOS-latest

    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Select Xcode version
        run: |
          sudo xcode-select -switch /Applications/Xcode_16.1.app/Contents/Developer
      - name: List
        run: |
          xcodebuild -list
      - name: Build
        run: |
          xcodebuild -scheme FirebaseEmailAuthUI -sdk iphonesimulator  -destination 'platform=iOS Simulator,OS=latest,name=iPhone 15 Pro'
  pod:
    name: pod lib lint
    runs-on: macOS-latest

    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Select Xcode version
        run: |
          sudo xcode-select -switch /Applications/Xcode_16.1.app/Contents/Developer
      - name: Setup
        run: gem install bundler; bundle install
      - name: Build
        # Allow warnings for deprecated `updateEmail:completion:` API.
        run: |
          bundle exec pod lib lint FirebaseEmailAuthUI.podspec \
            --include-podspecs=FirebaseAuthUI.podspec \
            --allow-warnings
