name: Sample

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/sample.yml'
      - 'FirebaseSwiftUI/**'
      - 'samples/swiftui/**'
      - 'Package.swift'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/sample.yml'
      - 'FirebaseSwiftUI/**'
      - 'samples/swiftui/**'
      - 'Package.swift'

  workflow_dispatch:

jobs:
  swiftui:
    name: SwiftUI Sample build
    runs-on: macos-15

    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Build SwiftUI Sample
        run: |
          cd samples/swiftui/FirebaseSwiftUISample
          xcodebuild \
            -project FirebaseSwiftUISample.xcodeproj \
            -scheme FirebaseSwiftUISample \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,OS=latest,name=iPhone 16 Pro' \
            clean build \
            ONLY_ACTIVE_ARCH=YES
